@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

:root {
  --primaryColor: #03a9f4;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #757575;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--mainGrey);
  color: var(--mainBlack);
}

.text-title {
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}

.main-link {
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
}

.main-link:hover {
  text-decoration: none;
  background: #0191d3;
  outline-color: #0191d3;
  color: var(--mainGrey);
}
